doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 

    main
        form.product-form(action="/", method="POST")
            .form-control
                label(for="title") User
                input(type="text", name="user")#user
            button.btn(type="submit") Add User